{% load staticfiles %}
<html>
<head>
    <title>Labeler App</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/editor.css' %}">
</head>
<body>
<div class="page-header">

    <div class="row">
        <div class="col-md-8">
            <h1><a href="/">Webes szövegbányászat</a></h1>

            <h3>Kiss Balázs</h3>
        </div>

        {% if usenipr.is_authenticated %}

        <div class="col-md-4">
            <div>
                <p class="top-menu">Funkciók</p>
                <ul class="list-style">
                    <li>
                        <a href="{% url 'editor.views.static_parse_page' %}" class="top-menu2">
                            <span class="glyphicon glyphicon-plus"></span>
                            Programozott webelemzés
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'editor.views.dynamic_parse_page' %}" class="top-menu2">
                            <span class="glyphicon glyphicon-plus"></span>
                            Dinamikus webbányászat
                        </a>
                    </li>
                </ul>
            </div>
        </div> <!--asd -->

        {% else %}
        <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
        {% endif %}
    </div>


</div>
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>

