{% extends 'base.html' %}

<head>
    <meta charset="UTF-8">
    <title>Dinamikus eredmények</title>
</head>
<body>
{% block content %}

<h1>Elemzések</h1>

<table class="table table-striped table-rows" style="table-layout: fixed;width: 1500px;">
    <col width="2">
    <col width="2">
    <col width="2">
    <col width="5">
    <col width="3">
    <col width="3">
    <tr>
        <th>id</th>
        <th>Url</th>
        <th>Lang</th>
        <th>Text</th>
        <th>Category</th>
        <th>Main Word</th>
    </tr>
    {% for document in topic_array %}
    <tr>
        <td> {{document.id}}</td>
        <td style="word-wrap:break-word"><a href="{{document.url}}">{{document.url}}</a></td>
        <td style="word-wrap:break-word">{{document.lang}}</td>
        <td style="word-wrap:break-word">{{document.text|truncatechars:1000}}</td>
        <td style="word-wrap:break-word">{{document.category}}</td>
        <td style="word-wrap:break-word">{{document.label}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
</body>
