{% extends 'base.html' %}

<head>
    <meta charset="UTF-8">
    <title>Wiki témakörök</title>
</head>
<body>
{% block content %}

<h1>Wiki legjellemzőbb témakörök</h1>

<table class="table table-striped table-rows" style="table-layout: fixed;width: 1500px;">
    <col width="2">
    <col width="3">
    <col width="2">
    <col width="2">
    <col width="6">
    <tr>
        <th>Témakör</th>
        <th>Lejellemzőbb szavak</th>
        <th>Legjellemzőbb cikk link</th>
        <th>Legjellemzőbb cikk címe</th>
        <th>Szövegrészlet</th>
    </tr>
    {% for entry in wikiTopics %}
    <tr>
        <td> {{entry.0}} </td>
        <td>
            {% for word in entry.1|slice:":5" %}
                {{word}} -
            {% endfor %}
        </td>
        <td style="word-wrap: break-word;" >
            <a href="{{entry.1.5.url}}"> {{entry.1.5.url}} </a>
        </td>
         <td style="word-wrap: break-word;">
            {{entry.1.5.title}}
        </td>
         <td>
            {{entry.1.5.text|truncatechars:1000}}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
</body>
