{% extends 'base.html' %}

<head>
    <meta charset="UTF-8">
    <title>Statikus parse wiki</title>
</head>
<body>
{% block content %}

<h1>Index Dokumentumtér</h1>

<table class="table table-striped table-rows" style="table-layout: fixed;width: 1500px;">
    <col width="2">
    <col width="2">
    <col width="3">
    <col width="3">
    <col width="10">
    <tr>
        <th>Sorszám</th>
        <th>Nyelv</th>
        <th>Url</th>
        <th>Cím</th>
        <th>Szöveg</th>
    </tr>
    {% for document in document_array %}
    <tr>
        <td> {{document.id}}</td>
        <td> {{document.lang}}</td>
        <td style="word-wrap:break-word"><a href="{{document.url}}">{{document.url}}</a></td>
        <td style="word-wrap:break-word">{{document.title}}</td>
        <td style="word-wrap:break-word">{{document.text}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
</body>
